app/installTeamChatBuddy/TeamChatBuddy/apk/Google_14.33.12.28.arm64_Apkpure.apk filter=lfs diff=lfs merge=lfs -text
app/installTeamChatBuddy/TeamChatBuddy/apk/Speech_Recognition_Synthesis_20240121.02_p3.602529322.apk filter=lfs diff=lfs merge=lfs -text
app/installTeamChatBuddy/installTeamChatBuddy.bat filter=lfs diff=lfs merge=lfs -text
app/src/main/res/drawable/refresh_prompt.png filter=lfs diff=lfs merge=lfs -text
app/src/main/res/drawable/delete_prompt.png filter=lfs diff=lfs merge=lfs -text
app/installTeamChatBuddy/TeamChatBuddy/apk/google-app-15-34-35-28-arm64.apk filter=lfs diff=lfs merge=lfs -text
app/installTeamChatBuddy/TeamChatBuddy/apk/Speech_Recognition_Synthesis_20240819.02_p3.670724707.apk filter=lfs diff=lfs merge=lfs -text
fichiers_json_missions_companion/teamchat.json filter=lfs diff=lfs merge=lfs -text
fichiers_json_missions_companion/TeamChatBuddyTasks.json filter=lfs diff=lfs merge=lfs -text
app/TeamChatBuddy_2.2.29.rar filter=lfs diff=lfs merge=lfs -text
